@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide page vertical scrollbar globally while keeping scroll */
html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* News Ticker Animation */
@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.ticker-scroll {
  animation: ticker 45s linear infinite;
  display: flex;
  width: max-content;
}

.ticker-scroll:hover {
  animation-play-state: paused;
}